html{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#wrapper{
    position:relative;
}
#wrapper > * {
    position:absolute;
    top:0px;
    left:0px;
    
}
#overlayCanvas {
    z-index: 10001;
    display:none;
}
#inputVideo {
    z-index: 10000;
    display:none;
}
#slider{
    width: 100%;
}